
exportPattern("schnee", "alzheimer", "miete", "gams", "dose", "aeschen",
              "RndPairs", "RndWord", "schulnote", "retouren", "kredit", "birthweight",
              "haushaltschaden", "knochendichte","krankenversicherer","kunden","bip",
              "autismus","operation","vocabular",
              
              "LibBinomial")


importFrom("stats", "quantile", "relevel", "rnorm", "rpois", "na.omit")
importFrom("DescTools", "CutQ", "SetNames", "Labels<-", "Label<-","RoundTo", 
           "StrCap", "Mgsub", "Untable")
