exportPattern("schnee", "alzheimer", "miete",
              "RndPairs", "RndWord")


importFrom("stats", "quantile", "relevel", "rnorm", "rpois", "na.omit")
importFrom("DescTools", "CutQ", "SetNames", "Labels<-", "Label<-","RoundTo", 
           "StrCap", "Mgsub", "Untable")
